// Use Prepros, man. It's way easier. But if you're stubborn:
// GENERATE SASS IN COMMAND LINE:
// Dev 
// sass --debug-info --compass --watch css/style.scss
// Production
// sass --style compressed --compass --watch css/style.scss 

//Normalize
@import "normalize";

// Any third party CSS that may be overwritten should go here if required
// E.g, Fancybox.css, bootstrap
//@import "some-jquery-plugin.css"
//@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

// VARIABLES, MIXINS AND SPRITING
@import "variables";

//Boilerplate
@import "boilerplate";

//////////////////////////////////////////////////////////////////////////////////////////////////// Base
//// Body
html, body {
    @extend %base;
}
h1,h2,h3,h4,h5{ font-family: $heading-font; }
a{ color:$default-link-color; }
a:hover{ color:$hover-link-color; text-decoration:none; }
ul{ padding:0px; margin:0px; list-style-type:none; }

//////////////////////////////////////////////////////////////////////////////////////////////////// Non-size specific styles

//Misc classes and elements specific to this project can go here
//e.g .bluey-text{ color:blue; }

//// Header
.header-container{
	background:rgba(0,0,0,0.2);
}
header, .header{	
	font-size:60px;
	line-height:1.6em;
	text-align:center;
	margin-bottom:0;
	font-family:$heading-font;
	margin-bottom:20px !important;
}

//// Nav
nav, .primary-nav{
	
}

.container{
	width:100%;

	.wrapper{
		width:90%;
		max-width:1200px;
		margin:auto;
		text-align:center;
	}
}
.container{ z-index:20; position:relative; }
//// Content - Stuff the users can WYSIWYG
.content{
	@import "shared";
}
form{
	width:100%;
	max-width:600px;
	margin:auto;
	text-align:left;

	.field-container{
		margin-bottom:20px;
	}
	label{ display:block; margin-bottom:6px; }
	input{
		display:block;
		padding:8px 10px;
		border-radius:3px;
		border:1px solid #111111;
		width:100%;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	input[type=submit]{
		background:#ffffff;
		border:2px solid #ffffff;
		color:#111111;

		&:hover{
			background:#111111;
			color:#ffffff;
		}
	}
}
#reveal-form{ display:none; }
.big-btn{
	font-size:40px;
	line-height:1.2em;
	display:inline-block;
	padding:20px 30px;
	text-align:center;
	text-decoration:none;
	background:#ffffff;
	color:#111111;
	border-radius:3px;
	margin-bottom:20px;
	border:2px solid #ffffff;

	&:hover{
		background:#111111;
		color:#ffffff;
	}
}
.overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.8);
	z-index:10;
}
.spinner{
	margin-top:40px;
	@include clear;
	border:2px solid #111111;
	border-radius:400px;
	overflow:hidden;
	max-width:500px;
	margin:0px auto 200px;
	background:rgba(0,0,0,0.6);


	.spinner-item{
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		display:inline-block;
		width:50%;
		float:left;
		padding:40px 50px 120px;

		i{ font-size:60px; display:block; }

		&.top-left{
			border-top-left-radius:400px;
			border-right:2px solid #111111;
			border-bottom:2px solid #111111;
			padding:120px 50px 60px;
		}
		&.top-right{
			border-top-right-radius:400px;
			border-bottom:2px solid #111111;
			padding:120px 50px 60px;
		}
		&.bottom-left{
			border-bottom-right-radius:400px;
			padding:60px 50px 120px;
			float:right;
		}
		&.bottom-right{
			
			border-bottom-left-radius:400px;
			border-right:2px solid #111111;
			padding:60px 50px 120px;
		}
		&.active{
			color:#111111;
			background:rgba(255,255,255,0.8);
		}
		&.chosen{
			background-color:red;
			background-color: rgba(red, 0.7);
			-webkit-animation-name: chosen;
		    -webkit-animation-duration: 900ms;
		    -webkit-animation-iteration-count: 5;
		    -webkit-animation-timing-function: ease-in-out;

		    &.escape{
				background-color:green;
				background-color: rgba(green, 0.7);
				-webkit-animation-name: escape;
			    -webkit-animation-duration: 900ms;
			    -webkit-animation-iteration-count: 5;
			    -webkit-animation-timing-function: ease-in-out;		
			}
		}

	}
}
@-webkit-keyframes chosen {
    0% {
        background-color: rgba(red, 0.8);
        opacity:1;
    }
    50% {
        background-color: rgba(255,255,255,0.8);
    }
    100% {
        background-color: rgba(red, 0.7);
    }
}
@-webkit-keyframes escape {
    0% {
        background-color: rgba(green, 0.7);
        opacity:1;
    }
    50% {
        background-color: rgba(255,255,255,0.8);
    }
    100% {
        background-color: rgba(green, 0.7);
    }
}
.result{
	margin-bottom:40px;
	font-size:20px;
	@include clear;

	min-height:16px;
}

//// Footer
footer, .footer{
	display:none;
}


@import "print";



